DB_URL=postgres://letterboxle:letterboxle@localhost:5432/letterboxle?sslmode=disable
TMDB_API_READ_ACCESS_TOKEN=your_tmdb_api_read_access_token
PLATFORM=dev
PORT=8080
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_SERVICE_ACCOUNT=your_base64_encoded_service_account_key_json
